# Python cache
__pycache__/
*.pyc
*.py[cod]
*$py.class
.pytest_cache/

# Environment
.venv/
venv/
env/
.env

# Model Files (Too large for standard Git)
rf_model.pkl
random_forest_ids_pipeline.pkl
models/*.pkl
.git/

# Backups & Logs
*.bak
*.log
blocked_ips.json

# IDEs
.vscode/
.idea/
.DS_Store

# Scapy compiled files
*.cap
*.pcap
